

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
    <i class="fa fa-sign-out"></i>    
    
    </div>
  
      <!-- Login Form -->
      <h5> Goodbye </h5>
        <p> Thank you for visiting the portal. </p>
    
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" [routerLink]="['/login']" routerLinkActive="router-link-active" >Back to login</a>
      </div>
  
    </div>
  </div>
   
