<p>calendar works!</p>
<div class="card card-calendar">
    <div class="card-content">
        <div id="fullCalendar" class="fc fc-unthemed fc-ltr">
            <div class="fc-toolbar fc-header-toolbar">
                <div class="fc-left"><h2>May 2 – 8 2021</h2></div>
                <div class="fc-right">
                    <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left fc-corner-right" aria-label="prev"><span class="fc-icon fc-icon-left-single-arrow"></span></button>
                    <button type="button" class="fc-next-button fc-button fc-state-default fc-corner-left fc-corner-right" aria-label="next"><span class="fc-icon fc-icon-right-single-arrow"></span></button>
                    <button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="">today</button>
                </div>
                <div class="fc-center">
                    
                </div>
                <div class="fc-clear"></div>
            </div>
            <div class="fc-view-container" >
                <div class="fc-view fc-agendaWeek-view fc-agenda-view" >
                    <table class="">
                        <thead class="fc-head">
                            <tr>
                                <td class="fc-head-container fc-widget-header">
                                    <div class="fc-row fc-widget-header" style="border-right-width: 1px; margin-right: 16px;">
                                        <table class="">
                                            <thead>
                                                <tr>
                                                    <th class="fc-axis fc-widget-header" style="width: 47px;"></th>
                                                    <th class="fc-day-header fc-widget-header fc-sun fc-today" data-date="2021-05-02"><span>Sun 5/2</span></th>
                                                    <th class="fc-day-header fc-widget-header fc-mon fc-future" data-date="2021-05-03"><span>Mon 5/3</span></th>
                                                    <th class="fc-day-header fc-widget-header fc-tue fc-future" data-date="2021-05-04"><span>Tue 5/4</span></th>
                                                    <th class="fc-day-header fc-widget-header fc-wed fc-future" data-date="2021-05-05"><span>Wed 5/5</span></th>
                                                    <th class="fc-day-header fc-widget-header fc-thu fc-future" data-date="2021-05-06"><span>Thu 5/6</span></th>
                                                    <th class="fc-day-header fc-widget-header fc-fri fc-future" data-date="2021-05-07"><span>Fri 5/7</span></th>
                                                    <th class="fc-day-header fc-widget-header fc-sat fc-future" data-date="2021-05-08"><span>Sat 5/8</span></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="fc-body">
                            <tr>
                                <td class="fc-widget-content">
                                    <div class="fc-day-grid fc-unselectable">
                                        <div class="fc-row fc-week fc-widget-content" style="border-right-width: 1px; margin-right: 16px;">
                                            <div class="fc-bg">
                                                <table class="">
                                                    <tbody>
                                                        <tr>
                                                            <td class="fc-axis fc-widget-content" style="width: 47px;"><span>all-day</span></td>
                                                            <td class="fc-day fc-widget-content fc-sun fc-today" data-date="2021-05-02"></td>
                                                            <td class="fc-day fc-widget-content fc-mon fc-future" data-date="2021-05-03"></td>
                                                            <td class="fc-day fc-widget-content fc-tue fc-future" data-date="2021-05-04"></td>
                                                            <td class="fc-day fc-widget-content fc-wed fc-future" data-date="2021-05-05"></td>
                                                            <td class="fc-day fc-widget-content fc-thu fc-future" data-date="2021-05-06"></td>
                                                            <td class="fc-day fc-widget-content fc-fri fc-future" data-date="2021-05-07"></td>
                                                            <td class="fc-day fc-widget-content fc-sat fc-future" data-date="2021-05-08"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="fc-content-skeleton">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td class="fc-axis" style="width: 47px;"></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="fc-divider fc-widget-header" />
                                    <div class="fc-scroller fc-time-grid-container ps ps--active-y" style="overflow: hidden scroll; height: 288px;">
                                        <div class="fc-time-grid fc-unselectable">
                                            <div class="fc-bg">
                                                <table class="">
                                                    <tbody>
                                                        <tr>
                                                            <td class="fc-axis fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-day fc-widget-content fc-sun fc-today" data-date="2021-05-02"></td>
                                                            <td class="fc-day fc-widget-content fc-mon fc-future" data-date="2021-05-03"></td>
                                                            <td class="fc-day fc-widget-content fc-tue fc-future" data-date="2021-05-04"></td>
                                                            <td class="fc-day fc-widget-content fc-wed fc-future" data-date="2021-05-05"></td>
                                                            <td class="fc-day fc-widget-content fc-thu fc-future" data-date="2021-05-06"></td>
                                                            <td class="fc-day fc-widget-content fc-fri fc-future" data-date="2021-05-07"></td>
                                                            <td class="fc-day fc-widget-content fc-sat fc-future" data-date="2021-05-08"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="fc-slats">
                                                <table class="">
                                                    <tbody>
                                                        <tr data-time="00:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>12am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="00:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="01:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>1am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="01:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="02:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>2am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="02:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="03:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>3am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="03:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="04:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>4am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="04:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="05:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>5am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="05:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="06:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>6am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="06:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="07:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>7am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="07:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="08:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>8am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="08:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="09:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>9am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="09:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="10:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>10am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="10:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="11:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>11am</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="11:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="12:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>12pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="12:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="13:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>1pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="13:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="14:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>2pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="14:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="15:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>3pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="15:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="16:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>4pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="16:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="17:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>5pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="17:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="18:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>6pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="18:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="19:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>7pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="19:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="20:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>8pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="20:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="21:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>9pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="21:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="22:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>10pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="22:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="23:00:00">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"><span>11pm</span></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                        <tr data-time="23:30:00" class="fc-minor">
                                                            <td class="fc-axis fc-time fc-widget-content" style="width: 47px;"></td>
                                                            <td class="fc-widget-content"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <hr class="fc-divider fc-widget-header" style="display: none;" />
                                            <div class="fc-content-skeleton">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td class="fc-axis" style="width: 47px;"></td>
                                                            <td>
                                                                <div class="fc-content-col">
                                                                    <div class="fc-event-container fc-helper-container"></div>
                                                                    <div class="fc-event-container"></div>
                                                                    <div class="fc-highlight-container"></div>
                                                                    <div class="fc-bgevent-container"></div>
                                                                    <div class="fc-business-container"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fc-content-col">
                                                                    <div class="fc-event-container fc-helper-container"></div>
                                                                    <div class="fc-event-container">
                                                                        <a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end event-azure fc-draggable fc-resizable" style="inset: 835px 0% -989px; z-index: 1;">
                                                                            <div class="fc-content">
                                                                                <div class="fc-time" data-start="7:00" data-full="7:00 PM - 10:30 PM"><span>7:00 - 10:30</span></div>
                                                                                <div class="fc-title">Birthday Party</div>
                                                                            </div>
                                                                            <div class="fc-bg"></div>
                                                                            <div class="fc-resizer fc-end-resizer"></div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="fc-highlight-container"></div>
                                                                    <div class="fc-bgevent-container"></div>
                                                                    <div class="fc-business-container"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fc-content-col">
                                                                    <div class="fc-event-container fc-helper-container"></div>
                                                                    <div class="fc-event-container"></div>
                                                                    <div class="fc-highlight-container"></div>
                                                                    <div class="fc-bgevent-container"></div>
                                                                    <div class="fc-business-container"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fc-content-col">
                                                                    <div class="fc-event-container fc-helper-container"></div>
                                                                    <div class="fc-event-container">
                                                                        <a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end event-rose fc-draggable fc-resizable" style="inset: 263px 0% -351px; z-index: 1;">
                                                                            <div class="fc-content">
                                                                                <div class="fc-time" data-start="6:00" data-full="6:00 AM"><span>6:00</span></div>
                                                                                <div class="fc-title">Repeating Event</div>
                                                                            </div>
                                                                            <div class="fc-bg"></div>
                                                                            <div class="fc-resizer fc-end-resizer"></div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="fc-highlight-container"></div>
                                                                    <div class="fc-bgevent-container"></div>
                                                                    <div class="fc-business-container"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fc-content-col">
                                                                    <div class="fc-event-container fc-helper-container"></div>
                                                                    <div class="fc-event-container"></div>
                                                                    <div class="fc-highlight-container"></div>
                                                                    <div class="fc-bgevent-container"></div>
                                                                    <div class="fc-business-container"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fc-content-col">
                                                                    <div class="fc-event-container fc-helper-container"></div>
                                                                    <div class="fc-event-container"></div>
                                                                    <div class="fc-highlight-container"></div>
                                                                    <div class="fc-bgevent-container"></div>
                                                                    <div class="fc-business-container"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fc-content-col">
                                                                    <div class="fc-event-container fc-helper-container"></div>
                                                                    <div class="fc-event-container"></div>
                                                                    <div class="fc-highlight-container"></div>
                                                                    <div class="fc-bgevent-container"></div>
                                                                    <div class="fc-business-container"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="ps__rail-x" style="left: 0px; bottom: -264px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
                                        <div class="ps__rail-y" style="top: 264px; height: 288px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 47px; height: 51px;"></div></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
