

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="email" id="login" class="fadeIn second" name="login" placeholder="Email address" #passwordResetEmail required>
        <input type="submit" class="fadeIn fourth" (click)="authService.ForgotPassword(passwordResetEmail.value)" value="Reset Password">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" [routerLink]="['/login']" routerLinkActive="router-link-active" >Back to login</a>
      </div>
  
    </div>
  </div>
  
    
  
  
  


 

